{% extends 'base.html' %}

{% load static %}
{% block nav %}{% endblock %}
{% block title %}Forgot Password{% endblock %}


{% block content %}
<link href="{% static 'css/pages/login_registration.css' %}" rel="stylesheet">
<div class="login-box login-size text_color-scheme{% if form_errors %} error-message{% endif %}">
    <h2>Forgot password</h2>

    <!-- Forgot Password -->
    <form method="POST" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        {% if form_errors %}
        <div class="alert-message" role="alert">
            <p>This email doesn't exist</p>
        </div>
        {% endif %}

        <!-- Message -->
        {% if messages %}

        <div class="messages success-message">
            {% for message in messages %}
            {% if message.tags == 'success' and message.message == 'Password reset link has been sent to your email' %}
            <div class="{{ message.tags }}">{{ message }}</div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="messages alert-message">
            {% for message in messages %}
            {% if message.tags == 'warning' and message.message == 'Password reset email can only be sent once per minute' %}
            <div class="{{ message.tags }}">{{ message }}</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- end message -->

        <!-- Email field -->
        <div class="user-box">
            <input type="text" name="email" required>
            <label>Email</label>
        </div>
        <!-- end Email field -->

        <!-- Send Reset Letter button -->
        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit" class="text_color-scheme">Send Reset Letter</button>
        </a>
        <!-- end Send Reset Letter button -->

    </form>
    <!-- end Forgot Password -->
</div>
{% endblock %}
