{% extends 'base.html' %}

{% load static %}
{% block nav %}{% endblock %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<link href="{% static 'css/pages/login_registration.css' %}" rel="stylesheet">
<div class="login-box login-size text_color-scheme{% if form_errors %} error-message{% endif %}">
    <h2>Reset Password</h2>
    <!--    <form method="POST" action="{% url 'password_reset' %}">-->
    <form method="POST" action="{% url 'password_reset' %}?user={{ request.GET.user }}">
        {% csrf_token %}

        <!-- Display form errors if any -->
        {% if form_errors %}
        <div class="form-errors">
            <ul>
                {% for error in form_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- New Password -->
        <div class="user-box">
            <input type="password" name="new_password" required>
            <label>New Password</label>
        </div>

        <!-- Confirm Password -->
        <div class="user-box">
            <input type="password" name="confirm_password" required>
            <label>Confirm Password</label>
        </div>

        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit" class="text_color-scheme">Reset Password</button>
        </a>
    </form>
</div>

{% endblock %}
